<appSettings>
  <add key="AzureAd:Instance" value="https://login.microsoftonline.com/" />
  <add key="AzureAd:TenantId" value="YOUR_TENANT_ID" />
  <add key="AzureAd:ClientId" value="YOUR_CLIENT_ID" />
  <add key="AzureAd:ClientSecret" value="YOUR_CLIENT_SECRET" />
  <add key="AzureAd:RedirectUri" value="https://yourdomain.com/signin-oidc" />
  <add key="AzureAd:AdminGroupId" value="YOUR_ADMIN_GROUP_OBJECT_ID" />
</appSettings>